@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<form method="post" action="/AuthUsers/Login">
    <div class="form-group">
        <label asp-for="Username">Username</label> @* Tag Helper *@
        <input type="text" class="form-control" id="Username" placeholder="Enter username" name="Username">
        @* @Html.TextBoxFor(m=>m.Username ) Html Helper *@
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Password">Password</label>
        <input type="password" class="form-control" id="Password" placeholder="Password" name="Password">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <br />
    <div>
        <input asp-for="RememberMe" type="checkbox" /> Remember Me
    </div>

    @if (ViewBag.Error != "" | ViewBag.Error != null)
    {
        <span class="text-danger"> @ViewBag.Error </span>
    }

    <br />
    <button type="submit" class="btn btn-primary">Login</button>
</form>

    @section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}